<div class="auth-container">
  <div class="forgot-pass-form auth-form other-shadow">
    <div class="inner">
      <div class="logo-title mt-50 mb-50">
        <img class="w120" src="assets/images/logo.png" alt="Soltec" />
      </div>
      <div class="column-align">
        <div class="page-title regular-bold-text">
          Restablecer contraseña
        </div>
        <div class="page-desc regular-text">
          Escribe tu email y te mandaremos los pasos para restablecer la contraseña.
        </div>
        <div class="form-field email-field" [class.mb-0]="!emailRequired && emailFormatError">
          <app-auth-input
            label="Email"
            name="email"
            type="email"
            [(value)]="email"
            (emailChange)="updateEmailValidation()"
            [error]="emailRequired || emailFormatError"
          ></app-auth-input>
          <div *ngIf="!emailRequired && emailFormatError" class="err-notif" [class.mt-10]="emailFormatError">El formato del correo electrónico no es válido</div>
        </div>
        <button
          class="btn-auth"
          [class.disabled]="emailRequired || emailFormatError"
          (click)="sendingEmail()"
        >
          ENVIAR
        </button>
      </div>
    </div>
  </div>
</div>
