@import 'src/styles/auth.scss';

.forgot-pass-form {
  width: 590px;
  height: 527px;

  .inner {
    width: 100%;
    max-width: 460px;

    .column-align {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 270px;
    }
  }
}
