@import 'src/styles.scss';
@import 'src/styles/_variables.scss';
@import 'src/styles/auth.scss';
@import 'src/styles/constants.scss';

.register-form {
  width: 590px;

  .inner {
    width: 100%;
    max-width: 460px;

    .form-field {

      .password-validation {
        .validation-item {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: auto;
          }

          span {
            color: $secondary-color;
            line-height: 17px;
            font-size: 14px;
          }

          &.checked span {
            color: #72DF1C;
          }
        }
      }
    }
  }
}
