// Define custom primary and secondary colors
$primary-color: #F39407;
$secondary-color: #0A2240;
$third-color: #CBD2D9;
$border: #E5E5E5;
$white: #FFFFFF;
$black: #000000;
$grey: #777777;
$error-color: #DC251B;
$error-msg-background: #F6F8FA;
$btn-disabled: #CBD2D9;
$btn-activated: linear-gradient(46.56deg, #D9141C 9.27%, #DC251B 13.92%, #E55318 26.33%, #ED7817 38.75%, #F39515 51.16%, #F7AA14 63.57%, #FAB614 75.2%, #FBBB14 86.84%);
