<div class="page-container">
  <div class="content" [ngClass]="{ 'content-expanded': !isSidebarCollapsed }">
    <app-page-header
      pageName="Proyectos"
      (search)="onSearch($event)"
      (filter)="onFilter()"
      (createProject)="onCreate()"
    ></app-page-header>
    <div class="main">
      <div class="table-container">
        <table [@fadeInOnEnter]>
          <thead>
            <tr >
              <th *ngFor="let col of tableColumns">
                <ng-container *ngIf="col !== ''">
                  <span (click)="sort(translatedColumn[col])" [class.active]="currentSortField === translatedColumn[col]">{{ col }}</span>
                  <img [src]="currentSortField === translatedColumn[col] ? 'assets/images/down_active.png' : 'assets/images/down.png'">
                </ng-container>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let project of projects | paginate: { itemsPerPage: pageSize, currentPage: currentPage }"> -->
            <tr *ngFor="let project of projects">
              <ng-container *ngFor="let col of tableColumns">
                <td *ngIf="col !== '' && translatedColumn[col] !== 'id'" [appActiveColumn]="currentSortField === translatedColumn[col]">
                  {{ getPropertyValue(project, translatedColumn[col]) }}
                </td>
              </ng-container>
              <td>
                <img
                  [src]="(project.permission === 'Admin' || project.permission === 'Editor') ? 'assets/images/edit.png' :
                          project.permission === 'Visor' ? 'assets/images/view.png' : 'assets/images/lock.png' "
                  (click)="editProject(project)"
                >
                <img
                  [src]="project.permission === 'Admin' || project.permission === 'Visor' || project.permission === 'Editor' ?
                          'assets/images/download.png' : 'assets/images/download_deactive.png' "
                  (click)="downloadProject(project)"
                >
                <img
                  [src]="project.permission === 'Admin' ? 'assets/images/trash.png' : 'assets/images/trash_deactive.png' "
                  (click)="deleteProject(project)"
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
