<div class="auth-container">
  <div class="reset-pass-form auth-form other-shadow">
    <div class="inner">
      <div class="logo-title mt-50 mb-50">
        <img class="w120" src="assets/images/logo.png" alt="soltec">
      </div>
      <div class="column-align">
        <div class="page-title regular-bold-text">
          Restablecer contraseña
        </div>

        <div class="form-field password-field">
          <app-auth-input
            label="Contaseña"
            name="password"
            type="password"
            [(value)]="password"
            (passwordChange)="updatePasswordValidation()"
            [error]="passwordRequired || passwordFormatError"
          ></app-auth-input>

          <!-- password validation -->
          <div class="password-validation mt-10">
            <div class="validation-item" [class.checked]="passwordValidation.upperAndlowcase">
              <img [src]="passwordValidation.upperAndlowcase ? 'assets/images/checked.png' : 'assets/images/minus.png'">
              <span>Incluir minúsculas y mayúsculas.</span>
            </div>
            <div class="validation-item" [class.checked]="passwordValidation.numberOrSymbol">
              <img [src]="passwordValidation.numberOrSymbol ? 'assets/images/checked.png' : 'assets/images/minus.png'">
              <span>Incluir al menos un número o símbolo.</span>
            </div>
            <div class="validation-item" [class.checked]="passwordValidation.minLength">
              <img [src]="passwordValidation.minLength ? 'assets/images/checked.png' : 'assets/images/minus.png'">
              <span>Tener al menos 10 caracteres.</span>
            </div>
          </div>
        </div>

        <button
          class="btn-auth"
          [class.disabled]="passwordRequired || passwordFormatError"
          (click)="resetPass()"
        >
          CONFIRMAR
        </button>
      </div>
    </div>
  </div>
</div>

