@import 'src/styles.scss';
@import 'src/styles/auth.scss';
@import 'src/styles/constants.scss';

.reset-pass-form {
  width: 590px;
  height: 552px;

  .inner {
    width: 100%;
    max-width: 460px;

    .column-align {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 270px;
    }
  }
}
